html {
	font-family: Oswald;
}
.hidden {
	display:none;
}

.spin {
	animation: spin .5s forwards linear infinite;
}

.pulse {
	animation: pulse 1s forwards infinite
}

@keyframes pulse {
  0% { transform:scale(1.1); }
  50% { transform:scale(0.9); }
  100% { transform:scale(1.1); }
}

@keyframes spin {
  from { transform:rotateZ(0deg); }
  to { transform:rotateZ(360deg); }
}