.loadScreen {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #eee;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

.loadScreen .title {
	font-size:3em;
	margin-top: 150px;
	margin-bottom:30px;
}

.loadScreen .spinner {
	font-size:3em;
}

.loadScreen .subtitle {
	margin-top:25px;
}